.back-to-top {
	position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: var(--theme-main);
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
	opacity: 0;
    transition: background-color 0.3s, opacity 0.3s;
}
.back-to-top.visible {
	opacity: 1;
}

.back-to-top:hover {
	background-color: var(--theme-light);
}

.back-to-top > div {
	border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(-135deg);
}
